<div class="jumbotron">
<h1>Photobooth</h1>
</div>
<div class="jumbotron"> 
<p>Photobooth is a photo-sharing application that allows you to share all of your best photos with your friends and family.</p>
</div>