<div class="jumbotron"> 
<h1>Photochrome</h1>
</div>

<div class="jumbotron"> 
<p>Photochrome is a photo-sharing application that allows you to share all of your best photos with your friends and family.</p>
</div>
<div class="jumbotron">
<h1>About Me</h1>
</div>
<div class="jumbotron"> 
<p> My name is Ben Ginger and I currently work as a technical sales consultant.  I am looking to get into software development and develop new applications.</p>
</div>
<h1>Contact</h1>
<ul>
	<li>Ben Ginger</li>
	<li>M.A Digital Communications</li>
	<li>Johns Hopkins University</li>
	<li>Cell:  630-209-8003</li>
	<li>Email:  benginger5@gmail.com</li>
</ul>